/* Override nav bar color */
.wy-side-nav-search {
    background-color: #25B47B;
}

/* Override text bar color */
.caption-text {
    color: #25B47B;
}

/* Override code signature colour */

.rst-content dl:not(.docutils) dt {
    background: #cff5e6;
    color: #25B47B;
    border-top: solid 3px #25B47B;
}


/* Override hyperlink colour */
a {
    color: #25B47B;
}
