[report]
omit = *tests*, setup.py
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def _repr_html_
    def _html_table_rows
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    print
