sudo: required
dist: trusty
language: python
python:
  - 3.6


env:
  global:
    - CONDA=$HOME/miniconda
  matrix:
    - TEST_SUITE=units
    - TEST_SUITE=notebooks


before_install:
  - sudo apt update
  - if [ -d "$CONDA/bin" ]; then
      echo "Use cached miniconda";
      export PATH="$CONDA/bin:$PATH";
    else
      mkdir -p $HOME/downloads;
      rm -rf $CONDA;
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O $HOME/downloads/miniconda.sh;
      bash $HOME/downloads/miniconda.sh -b -p $CONDA;
      export PATH="$CONDA/bin:$PATH";
      conda create -q -n testenv python=3.6;
    fi
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a


install:
  - source activate testenv
  - conda install -y tensorflow==1.12.0 numpy scipy pandas pytest nbformat nbconvert jupyter_client jupyter matplotlib pytest-xdist pytest-cov multipledispatch mock
  - pip install codecov
  - python setup.py install


cache:
  apt: true
  directories:
    - $CONDA


before_cache:
  - pip uninstall gpflow
  - rm -rf $CONDA/locks $CONDA/pkgs $CONDA/var $CONDA/conda-meta/history
  - rm -rf $CONDA/envs/testenv/lib/python3.6/site-packages/gpflow*


script:
  - ./travis.sh