# For testing and linting
black==20.8b1  # Use old version of black, because newer version is incompatible with our TF 2.4.
codecov
isort>=5.1
mypy>=0.920
pytest-cov
pytest-random-order
pytest-xdist
pytest>=3.5.0
types-Deprecated
types-pkg_resources
types-tabulate

# Notebook tests:
ipykernel
jupyter_client
jupytext
nbconvert
nbformat
tensorflow-datasets

matplotlib
ipywidgets  # Required by tensorflow-datasets
sklearn  # for mixture-density-network notebook

# For benchmarks
GitPython
Pillow
openpyxl
pandas
psutil
py-cpuinfo
xlrd

# For documentation
ipython
jupytext
nbsphinx
pandoc
pydata-sphinx-theme
sphinx
sphinx-autoapi
sphinx_autodoc_typehints
sphinxcontrib-bibtex

# Not used directly, but at the time of this writing `Jinja2` 3.1.0 breaks our notebooks.
Jinja2<3.1.0
# Not used directly, but at the time of this writing `click` 8.1.0 breaks `black` 20.8b1.
click<8.1.0
