mypy
black
pytest>=3.5.0
pytest-random-order

# Notebook tests:
tensorflow-datasets
nbformat
nbconvert
ipykernel
jupyter_client
jupytext

matplotlib
sklearn  # for mixture-density-network notebook
ipywidgets  # Required by tensorflow-datasets
