gast==0.2.2
ipython==7.8.0
sphinx==3.0.3
sphinx-autodoc-typehints==1.10.3
sphinx-autopackagesummary==1.3
jupytext==1.4.2
sphinx_rtd_theme==0.4.3
numpydoc==0.9.1
nbsphinx==0.7.0
pandoc==1.0.2
git+https://github.com/GPflow/GPflow.git@develop#egg=gpflow
